.input-container {
    background-color: black;
    line-height: 50px;
    text-align: center;
}
.input-container input {
    padding: 10px;
    width: 70%;
}
.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container {
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 20%;
}
.order-container {
    margin-left: 50px;
}